@import url(bootstrap.min.css);
@import url(flexslider.css);
@import url(fancybox.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
/*******GLOBAL*******/
html {
  background: #080808; }

body {
  background: #121212;
  font: 400 14px "Lato", sans-serif;
  color: #ffffff; }

h1, h2, h3, h4, h5 {
  margin: 0; }

h1 {
  font-size: 52px; }

h2 {
  font-size: 34px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 20px; }

video, img, iframe {
  max-width: 100%; }

a {
  cursor: pointer;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms; }
  a:hover {
    text-decoration: none; }

.animate {
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms; }

.verticalAlign {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.color-gray {
  color: #8c8c8c; }

/*******USEFUL STUFF*******/
.margin-b-20 {
  margin-bottom: 20px; }

.margin-b-30 {
  margin-bottom: 30px; }

.margin-b-40 {
  margin-bottom: 40px; }

.margin-b-50 {
  margin-bottom: 50px; }

.padding-50 {
  padding: 50px 0; }

.padding-100 {
  padding: 100px 0; }

.padding-150 {
  padding: 150px 0; }

.padding-150-100 {
  padding: 150px 0 100px; }

.padding-200 {
  padding: 200px 0; }

.status-green {
  color: #2c9d21; }

.breadcrumbs {
  font-size: 13px;
  text-transform: uppercase;
  background: #541613;
  padding-left: 20px;
  padding-right: 20px; }
  .breadcrumbs ul {
    margin: 0;
    padding: 15px 0; }
  .breadcrumbs li {
    list-style-type: none;
    display: inline; }
  .breadcrumbs a {
    color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    margin-right: 30px; }
  .breadcrumbs .active {
    color: white; }

.pagination {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pagination div {
    line-height: 30px;
    text-align: center;
    float: left;
    border: 1px solid #2d2d2d;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .pagination div:hover {
      background: rgba(45, 45, 45, 0.5);
      color: rgba(255, 255, 255, 0.5); }
  .pagination .pagination-inactive {
    color: rgba(255, 255, 255, 0.3); }
  .pagination .pagination-active {
    background: #2d2d2d; }
    .pagination .pagination-active:hover {
      background: #2d2d2d;
      color: white; }

.header-arrow {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  padding: 0 40px;
  display: inline-block;
  margin-bottom: 30px; }
  .header-arrow:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 2px;
    background: url(../images/title_arrow_left.png) no-repeat; }
  .header-arrow:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 2px;
    background: url(../images/title_arrow_right.png) no-repeat; }

.button-full {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  display: block;
  margin-bottom: 15px; }

.button {
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms; }
  .button:hover {
    color: #ffffff; }

.button-default {
  border: 1px solid #f8a325;
  background: #a5481c;
  color: #ffffff;
  cursor: pointer; }
  .button-default:hover {
    background: rgba(248, 163, 37, 0);
    border-color: #ffffff; }

.button-funds {
  border: 1px solid #f8a325;
  background: #a5481c;
  color: #ffffff;
  cursor: pointer;
  max-width: 200px;
  padding: 10px 0;
  text-align: center;
  margin: 15px auto 0; }

.button-funds.button-insufficient {
  background: #5f5f5f;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5); }

.button-clear {
  border: 1px solid #ffffff;
  background: transparent; }
  .button-clear:hover {
    border: 1px solid #f8a325;
    background: #a5481c;
    color: #ffffff; }

.button-facebook {
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 15px 0;
  background: #3b5998;
  display: block; }

.button-buy {
  text-align: center;
  border: 1px solid #158e31;
  background-color: #005826;
  color: #ffffff;
  width: 45%;
  float: left; }
  .button-buy:hover {
    opacity: 0.8; }

.button-sell {
  text-align: center;
  border: 1px solid #dd8626;
  background-color: #a5481c;
  color: #ffffff;
  width: 45%;
  float: right; }
  .button-sell:hover {
    opacity: 0.8; }

.link-arrow {
  color: #f8a325;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  padding: 10px 35px 10px 0;
  display: inline-block;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms; }
  .link-arrow:after {
    content: '';
    background: url(../images/link_arrow.png) right top no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    top: 5px;
    right: 0;
    position: absolute;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms; }
  .link-arrow:hover {
    color: #ffffff; }
  .link-arrow:hover:after {
    content: '';
    background: url(../images/link_arrow_hover.png) right top no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    top: 5px;
    right: 0;
    position: absolute; }

.link-arrow.link-center {
  display: table;
  text-align: center;
  margin: 0 auto; }

a.link-orange {
  color: #f8a325; }
  a.link-orange:hover {
    color: #ae7658; }

link-readmore {
  text-transform: uppercase; }

.event-block {
  margin-bottom: 30px;
  display: block;
  color: #ffffff; }
  .event-block:hover {
    color: #ffffff; }
  .event-block .event-img {
    position: relative; }
    .event-block .event-img img {
      width: 100%; }
    .event-block .event-img .event-tag {
      position: absolute;
      padding: 10px;
      background: #7f1d1a;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 13px;
      right: 15px;
      top: 15px; }
    .event-block .event-img:after {
      content: '';
      position: absolute;
      background: url(../images/gold_trim.png) top center;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px; }
  .event-block .event-data {
    background: #1d1d1d;
    border: 1px solid #2d2d2d;
    padding: 15px; }
    .event-block .event-data h3 {
      float: left;
      display: inline;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700; }
    .event-block .event-data strong {
      float: right;
      font-size: 13px;
      font-weight: 400; }
    .event-block .event-data .event-data--footer {
      margin-top: 5px;
      opacity: 0.5;
      font-size: 13px; }
      .event-block .event-data .event-data--footer span {
        margin-right: 20px; }
  .event-block:hover .event-data {
    background: #7f1d1a;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms; }

.upcoming-block {
  margin-bottom: 30px;
  display: block;
  color: #ffffff;
  cursor: pointer; }
  .upcoming-block:hover {
    color: #ffffff; }
  .upcoming-block .upcoming-img {
    position: relative; }
    .upcoming-block .upcoming-img img {
      width: 100%; }
    .upcoming-block .upcoming-img .upcoming-date {
      position: absolute;
      padding: 10px;
      background: #7f1d1a;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 13px;
      right: 10px;
      top: 0; }
      .upcoming-block .upcoming-img .upcoming-date .upcoming-date--month {
        text-transform: uppercase;
        display: block; }
      .upcoming-block .upcoming-img .upcoming-date .upcoming-date--date {
        font-size: 24px;
        display: block; }
    .upcoming-block .upcoming-img:after {
      content: '';
      position: absolute;
      background: url(../images/gold_trim.png) top center;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px; }
  .upcoming-block .upcoming-data {
    background: #1d1d1d;
    border: 1px solid #2d2d2d;
    padding: 15px; }
    .upcoming-block .upcoming-data h3 {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px; }
    .upcoming-block .upcoming-data strong {
      font-size: 13px;
      font-weight: 400;
      opacity: 0.5; }
    .upcoming-block .upcoming-data .upcoming-data--footer {
      margin-top: 5px;
      opacity: 0.5;
      font-size: 13px; }
      .upcoming-block .upcoming-data .upcoming-data--footer span {
        margin-right: 20px; }
  .upcoming-block:hover .upcoming-data {
    background: #7f1d1a;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms; }

.aside-champions--block {
  background: #1d1d1d;
  border: 1px solid #2d2d2d;
  height: 70px;
  margin-bottom: 10px; }
  .aside-champions--block .aside-champions--rank {
    font-size: 36px;
    font-weight: 300;
    float: left;
    padding: 0 15px;
    line-height: 70px;
    opacity: 0.5; }
  .aside-champions--block .aside-champions--image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left; }
  .aside-champions--block .aside-champions--data {
    float: left;
    padding: 0 15px; }
    .aside-champions--block .aside-champions--data .aside-champions--center {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 70px; }
    .aside-champions--block .aside-champions--data .aside-champions--name {
      color: #f8a325;
      text-transform: uppercase;
      margin-bottom: 5px;
      display: block; }
    .aside-champions--block .aside-champions--data .aside-champions--gold {
      color: #f8a325;
      text-transform: uppercase;
      opacity: 0.5; }

.aside-champions--block:first-of-type {
  border-left: 2px solid #fab753; }

.aside-champions--block:nth-of-type(2) {
  border-left: 2px solid #b7b7b7; }

.aside-champions--block:nth-of-type(3) {
  border-left: 2px solid #ae7658; }

/*******HEADER*******/
header.header-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding-top: 15px;
  padding-bottom: 20px;
  z-index: 10;
  background: #7f1d1a;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms; }
  header.header-desktop .branding-desktop {
    float: left; }
  header.header-desktop .header-left {
    padding-top: 10px; }
  header.header-desktop nav {
    text-transform: uppercase;
    float: left;
    margin-left: 20px; }
  header.header-desktop nav ul {
    margin: 0;
    padding: 0; }
  header.header-desktop nav ul li {
    list-style-type: none;
    display: inline; }
  header.header-desktop nav ul li a {
    display: inline-block;
    color: #f8a325;
    cursor: pointer;
    padding: 15px 20px; }
    header.header-desktop nav ul li a:hover {
      color: #ffffff; }
  header.header-desktop nav ul li a.active {
    color: #ffffff; }

.wrap-login {
  float: right;
  padding-top: 15px;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms; }
  .wrap-login a {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 5px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff; }
  .wrap-login .wrap-login--signup {
    background: rgba(165, 72, 28, 0.5);
    border: 1px solid #f8a325; }

header.header-desktop .loggedIn {
  padding-top: 3px;
  float: right; }
  header.header-desktop .loggedIn .loggedIn-profilePicture {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top; }
  header.header-desktop .loggedIn .loggedIn-profilePicture img {
    max-width: 70px;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -ms-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms; }
  header.header-desktop .loggedIn .loggedIn-profileData {
    display: inline-block; }
  header.header-desktop .loggedIn .loggedIn-profileData strong {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px; }
  header.header-desktop .loggedIn .loggedIn-profileData--links {
    display: block; }
  header.header-desktop .loggedIn .loggedIn-profileData a {
    display: inline;
    color: #f8a325; }
    header.header-desktop .loggedIn .loggedIn-profileData a:hover {
      color: #ffffff; }

header.header-desktop.jsMinMenu {
  height: 70px;
  padding-top: 15px;
  padding-bottom: 10px;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms; }
  header.header-desktop.jsMinMenu .header-left {
    padding-top: 0; }
  header.header-desktop.jsMinMenu .loggedIn {
    padding-top: 0; }
    header.header-desktop.jsMinMenu .loggedIn .loggedIn-profilePicture img {
      max-width: 45px;
      -webkit-transition: all ease-in-out 500ms;
      -moz-transition: all ease-in-out 500ms;
      -ms-transition: all ease-in-out 500ms;
      -o-transition: all ease-in-out 500ms;
      transition: all ease-in-out 500ms; }
    header.header-desktop.jsMinMenu .loggedIn .loggedIn-profileData strong {
      margin-top: 5px;
      margin-bottom: 5px;
      -webkit-transition: all ease-in-out 500ms;
      -moz-transition: all ease-in-out 500ms;
      -ms-transition: all ease-in-out 500ms;
      -o-transition: all ease-in-out 500ms;
      transition: all ease-in-out 500ms; }

header.header-desktop.jsMinMenu .wrap-login {
  padding-top: 0px;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -ms-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms; }

/*******HOME*******/
.banner-home {
  background: url(../images/bg-red.jpg);
  text-align: center;
  text-transform: uppercase; }

.banner-gladiators {
  background: url(../images/gladiators-banner.png) center 100px no-repeat fixed; }

.events-home {
  position: relative;
  background: #121212; }
  .events-home:before {
    content: '';
    position: absolute;
    top: -85px;
    left: 0;
    width: 100%;
    height: 85px;
    background: url(../images/slant-black.png);
    background-size: cover; }
  .events-home:after {
    content: '';
    position: absolute;
    bottom: -85px;
    left: 0;
    width: 100%;
    height: 85px;
    background: url(../images/slant-black-2.png);
    background-size: cover;
    z-index: 4; }

.bg-slantdark--top {
  position: relative;
  background: #121212; }
  .bg-slantdark--top:before {
    content: '';
    position: absolute;
    top: -85px;
    left: 0;
    width: 100%;
    height: 85px;
    background: url(../images/slant-black.png);
    background-size: cover; }

.signup-home {
  background: url(../images/mid_homepage.jpg) top center no-repeat fixed;
  background-size: cover;
  position: relative;
  text-align: center; }
  .signup-home:before {
    content: '';
    position: absolute;
    top: -85px;
    left: 0;
    width: 540px;
    height: 100%;
    background: url(../images/gladiator_midpage.png) left top no-repeat;
    z-index: 5; }
  .signup-home h2, .signup-home p {
    margin-bottom: 50px; }

.upcoming-home {
  position: relative; }
  .upcoming-home:before {
    content: '';
    position: absolute;
    top: -85px;
    left: 0;
    width: 100%;
    height: 85px;
    background: url(../images/slant-black.png);
    background-size: cover; }

.slider-carousel {
  margin: 20px 50px 30px; }

.flex-direction-nav {
  font-size: 0;
  line-height: 0; }
  .flex-direction-nav a {
    width: 40px;
    height: 60px;
    font-size: 0;
    display: block;
    top: 40%; }
    .flex-direction-nav a:hover {
      opacity: 0.7; }
    .flex-direction-nav a:before {
      display: none; }
  .flex-direction-nav a.flex-prev {
    background: url(../images/carousel_left.png);
    left: -50px;
    opacity: 1; }
  .flex-direction-nav a.flex-next {
    background: url(../images/carousel_right.png);
    right: -50px;
    opacity: 1; }
  .flex-direction-nav a.flex-next.flex-disabled {
    background: url(../images/carousel_right_inactive.png);
    pointer-events: none;
    right: -50px;
    opacity: 1; }
  .flex-direction-nav a.flex-prev.flex-disabled {
    background: url(../images/carousel_left_inactive.png);
    pointer-events: none;
    left: -50px;
    opacity: 1; }

/*******LOGIN SIGNUP*******/
.bg-form {
  background: url(../images/login_register_bg.jpg) center center fixed;
  background-size: cover; }
  .bg-form h1 {
    margin-bottom: 30px; }
  .bg-form .bg-form--or {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative; }
    .bg-form .bg-form--or:before {
      content: '';
      width: 42%;
      background: rgba(255, 255, 255, 0.4);
      height: 1px;
      position: absolute;
      top: 27px;
      left: 0; }
    .bg-form .bg-form--or:after {
      content: '';
      width: 42%;
      background: rgba(255, 255, 255, 0.4);
      height: 1px;
      position: absolute;
      top: 27px;
      right: 0; }
  .bg-form form input[type='text'], .bg-form form input[type='password'], .bg-form form input[type='email'], .bg-form form select {
    background: #080808;
    border: 1px solid #2d2d2d;
    padding: 10px;
    display: inline; }
  .bg-form form input {
    width: 100%;
    margin-bottom: 10px; }
  .bg-form form .form-two {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .bg-form form .form-two input {
    width: 49%; }
  .bg-form form .form-three {
    display: flex;
    color: rgba(255, 255, 255, 0.4);
    justify-content: space-between;
    align-items: center; }
  .bg-form form .form-three select {
    width: 32%; }
  .bg-form form ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .bg-form form ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .bg-form form :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .bg-form form :-moz-placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .bg-form small {
    display: block; }

/*******ABOUT*******/
.banner-about {
  background: url(../images/bg-red.jpg);
  position: relative; }
  .banner-about:before {
    content: ' ';
    top: 0;
    left: 0;
    background: url(../images/gladiators-banner-right.png) right 100px fixed no-repeat;
    position: absolute;
    width: 100%;
    height: 100%; }
  .banner-about h1 {
    font-weight: 900;
    position: relative; }

/*******EVENTS*******/
.bg-page {
  background: url(../images/mid_homepage.jpg) top center fixed;
  background-size: cover; }

.banner-page {
  padding: 200px 0 100px; }
  .banner-page h1 {
    text-transform: uppercase;
    font-weight: 900; }

/*******EVENT SINGLE*******/
.event-header {
  text-align: right; }
  .event-header .event-header--status {
    margin-bottom: 15px;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .event-header strong {
    font-weight: 700; }
  .event-header .event-header--dateLine {
    margin-left: 20px;
    display: inline;
    text-transform: uppercase; }
    .event-header .event-header--dateLine span {
      color: #8c8c8c; }

.event-overview {
  margin-bottom: 30px; }
  .event-overview .event-overview--image {
    background-image: url(../images/gates_of_athens.jpg);
    background-size: cover;
    height: 500px;
    width: 100%; }
  .event-overview .event-tag {
    position: absolute;
    padding: 10px;
    background: #7f1d1a;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    left: 30px;
    top: 15px; }

.event-overview--data {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px; }
  .event-overview--data h2 {
    font-weight: 900;
    margin-bottom: 25px;
    text-transform: uppercase; }
  .event-overview--data .event-overview--details {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px; }
  .event-overview--data .event-overview--detailHeader {
    text-transform: uppercase;
    float: left;
    letter-spacing: 1.5px; }
  .event-overview--data .event-overview--detailContent {
    float: right; }
  .event-overview--data .event-overview--detailsBlock {
    margin-bottom: 10px; }
  .event-overview--data .event-overview--included {
    margin-bottom: 30px; }
    .event-overview--data .event-overview--included strong {
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px; }
    .event-overview--data .event-overview--included ul {
      margin: 0;
      padding: 0 0 0 15px; }

.events-players {
  margin-bottom: 50px; }
  .events-players h3 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px; }
    .events-players h3 span {
      font-weight: 700;
      color: #a5481c; }

.player-block {
  background: #1d1d1d;
  border: 1px solid #2d2d2d;
  height: 70px;
  margin-bottom: 30px; }
  .player-block .player--rank {
    font-size: 36px;
    font-weight: 300;
    float: left;
    padding: 0 15px;
    line-height: 70px;
    opacity: 0.5; }
  .player-block .player--image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left; }
  .player-block .player--data {
    float: left;
    padding: 0 15px; }
    .player-block .player--data .player--center {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 70px; }
    .player-block .player--data .player--name {
      color: #f8a325;
      text-transform: uppercase;
      margin-bottom: 5px;
      display: block; }
    .player-block .player--data .player--stock {
      color: rgba(255, 255, 255, 0.4); }

/*******NEWS*******/
.bg-news {
  padding: 150px 0 100px; }

.border-news {
  background: #1d1d1d;
  border: 1px solid #2d2d2d; }

.news-date {
  color: #8c8c8c;
  margin-bottom: 20px;
  font-size: 13px; }

.news-main {
  margin-bottom: 30px;
  color: #ffffff; }
  .news-main .news-content {
    padding-top: 30px;
    padding-bottom: 30px; }
  .news-main h2 {
    margin-bottom: 25px;
    font-weight: 900;
    color: #ffffff; }
    .news-main h2 a {
      color: #ffffff; }
      .news-main h2 a:hover {
        color: #7f1d1a; }
  .news-main p {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px; }

.news-block {
  margin-bottom: 30px;
  color: #ffffff; }
  .news-block .border-news--data {
    padding: 20px; }
    .news-block .border-news--data h2 {
      font-size: 28px;
      margin-bottom: 20px;
      font-weight: 900;
      color: #ffffff; }
  .news-block:hover {
    background-color: #7f1d1a; }

/*******FOOTER*******/
footer.footer-main, footer.footer-form {
  background: #080808;
  border: 1px solid #2d2d2d;
  border-width: 1px 0;
  padding: 20px 0; }
  footer.footer-main strong, footer.footer-form strong {
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 7px; }
  footer.footer-main ul, footer.footer-form ul {
    margin: 0;
    padding: 0; }
  footer.footer-main li, footer.footer-form li {
    list-style-type: none;
    display: inline; }
  footer.footer-main a, footer.footer-form a {
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase; }
  footer.footer-main small, footer.footer-form small {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    text-align: right; }
  footer.footer-main .menu-footer, footer.footer-form .menu-footer {
    text-align: right;
    margin-bottom: 5px; }
    footer.footer-main .menu-footer a:after, footer.footer-form .menu-footer a:after {
      content: '|';
      color: rgba(255, 255, 255, 0.5);
      padding: 0 10px;
      font-size: 13px;
      vertical-align: middle; }
    footer.footer-main .menu-footer li:last-child a:after, footer.footer-form .menu-footer li:last-child a:after {
      content: '';
      display: none; }
  footer.footer-main .menu-social, footer.footer-form .menu-social {
    display: inline;
    margin-left: 20px; }
    footer.footer-main .menu-social li a, footer.footer-form .menu-social li a {
      -webkit-transition: all ease-in-out 500ms;
      -moz-transition: all ease-in-out 500ms;
      -ms-transition: all ease-in-out 500ms;
      -o-transition: all ease-in-out 500ms;
      transition: all ease-in-out 500ms; }
    footer.footer-main .menu-social li:first-child a, footer.footer-form .menu-social li:first-child a {
      background: url(../images/fb_normal.png) center center no-repeat;
      width: 45px;
      height: 45px;
      font-size: 0;
      line-height: 0;
      vertical-align: top;
      margin: 0 5px; }
      footer.footer-main .menu-social li:first-child a:hover, footer.footer-form .menu-social li:first-child a:hover {
        background-image: url(../images/fb_hover.png); }
    footer.footer-main .menu-social li:nth-child(2) a, footer.footer-form .menu-social li:nth-child(2) a {
      background: url(../images/ig_normal.png) center center no-repeat;
      width: 45px;
      height: 45px;
      font-size: 0;
      line-height: 0;
      vertical-align: top;
      margin: 0 5px; }
      footer.footer-main .menu-social li:nth-child(2) a:hover, footer.footer-form .menu-social li:nth-child(2) a:hover {
        background-image: url(../images/ig_hover.png); }
    footer.footer-main .menu-social li:nth-child(3) a, footer.footer-form .menu-social li:nth-child(3) a {
      background: url(../images/yt_normal.png) center center no-repeat;
      width: 45px;
      height: 45px;
      font-size: 0;
      line-height: 0;
      vertical-align: top;
      margin: 0 5px; }
      footer.footer-main .menu-social li:nth-child(3) a:hover, footer.footer-form .menu-social li:nth-child(3) a:hover {
        background-image: url(../images/yt_hover.png); }

footer.footer-form {
  background: transparent; }

/*******FLEXSLIDER**************/
.flexslider {
  margin: 0 0 0 0;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none; }

/*******FANCYBOX*******/
.fancybox-content {
  display: none; }

/*******OVERRIDE*******/
.margin-remove {
  margin: 0 0 0 0; }

/*******RESPONSIVE*******/
