@import "bootstrap.min.css";
@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/typography";


/*******GLOBAL*******/
html{background:$dark}
body{background:$darkbg;font:400 $fontdefault $fontLato;color:$white}

video, img, iframe{max-width:100%}
a{
  cursor:pointer;
  &:hover{text-decoration:none}
}
/*******USEFUL STUFF*******/
.header-arrow{
  font-size:$fontL;font-weight:$weightBlack;text-transform:uppercase;position:relative;padding:0 40px;display:inline-block;margin-bottom:25px;
  &:before{content:'';width:30px;height:30px;position:absolute;left:0;top:2px;background:url(../images/title_arrow_left.png) no-repeat}
  &:after{content:'';width:30px;height:30px;position:absolute;right:0;top:2px;background:url(../images/title_arrow_right.png) no-repeat}
}


/*******HEADER*******/
header.header-desktop{
  position:fixed;top:0;left:0;width:100%;height:100px;padding-top:20px;padding-bottom:20px;z-index:10;
  .branding-desktop{float:left}
  nav{height:100px;text-transform:uppercase;float:left;margin-left:20px}
  nav ul{margin:0;padding:0}
  nav ul li{list-style-type:none;display:inline}
  nav ul li a{
    display:inline-block;color:$yellow;cursor:pointer;padding:15px 20px;
    &:hover{color:$white}
  }
  nav ul li a.active{color:$white}
}
.wrap-login{
  float:right;
  a{display:inline-block;padding:10px 15px;margin-left:5px;color:$white;text-transform:uppercase;border:1px solid $white}
  .wrap-login--login{}
  .wrap-login--signup{background:rgba($bronze,0.7);border:1px solid $yellow}
}
/*******HOME*******/
.banner-home{
  background:url(../images/bg-red.jpg);text-align:center;text-transform:uppercase;
}
.banner-gladiators{background:url(../images/gladiators-banner.png) center 100px no-repeat fixed;padding:225px 0;}

.events-home{
  position:relative;background:$darkbg;
  &:before{content:'';position:absolute;top:-85px;left:0;width:100%;height:85px;background:url(../images/slant-black.png);background-size:cover}
  &:after{content:'';position:absolute;bottom:-85px;left:0;width:100%;height:85px;background:url(../images/slant-black-2.png);background-size:cover}
}

/*******FOOTER*******/
footer.footer-main{
  background:$dark;border:1px solid $darkborder;border-width:1px 0;padding:20px 0;
  strong{font-size:$fontMedium + 2;font-weight:$weightBlack;text-transform:uppercase;display:inline-block;margin-top:7px;}
  ul{margin:0;padding:0}
  li{list-style-type:none;display:inline}
  a{color:$white;display:inline-block;text-transform:uppercase;}
  small{color:rgba($white,0.4);display:block;text-align:right}
  .menu-footer{
    text-align:right;margin-bottom:5px;
    a{
      &:after{content:'|';color:rgba($white,0.5);padding:0 10px;font-size:$fontSmall;vertical-align:middle;}
    }
    li:last-child a:after{content:'';display:none}
  }
  .menu-social{
    display:inline;margin-left:20px;
    li a{@include transition(all ease-in-out 500ms)}
    li:first-child a{
      background:url(../images/fb_normal.png) center center no-repeat;width:45px;height:45px;font-size:0;line-height:0;vertical-align:top;margin:0 5px;
      &:hover{background-image:url(../images/fb_hover.png) }
    }
    li:nth-child(2) a{
      background:url(../images/ig_normal.png) center center no-repeat;width:45px;height:45px;font-size:0;line-height:0;vertical-align:top;margin:0 5px;
      &:hover{background-image:url(../images/ig_hover.png) }
    } 
    li:nth-child(3) a{
      background:url(../images/yt_normal.png) center center no-repeat;width:45px;height:45px;font-size:0;line-height:0;vertical-align:top;margin:0 5px;
      &:hover{background-image:url(../images/yt_hover.png) }
    } 
  }
}
/*******RESPONSIVE*******/
@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 640px){

}
@media only screen and (max-width : 480px) {
 
}