@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$fontLato: 'Lato',sans-serif;

$fontXXL: 52px;
$fontXL: 34px;
$fontL: 28px;
$fontMedium: 20px;
$fontdefault: 14px;
$fontSmall: 13px;

$weightLight: 300;
$weightRegular: 400;
$weightBold: 700;
$weightBlack: 900;

$opacityhalf:0.5;